@import "variables";
@import "~vuetify/src/styles/styles.sass";

//* ——— Color ——————————————————
//

// #region Color

$--background-color: #f8f9fe;
$--body-color: #525f7f;
$--muted-color: #8898aa;
$--typo-color: #32325d;
$--form-color: $--body-color;

.label-color {
  color: #525f7f;
}

// #endregion

//* ——— Text ——————————————————
//

// #region Text

.font-size-root {
  font-size: 1rem !important;
}

.font-size-small {
  font-size: .85rem !important;
}

@include theme(v-application) using ($type) {
  .font-size-root {
    @extend .font-size-root;
  }

  .font-size-small {
    @extend .font-size-small;
  }

  .heading {
    font-size: .95rem;
    letter-spacing: .025em;
  }

  .heading-title {
    font-size: 1.375rem;
    letter-spacing: .025em;
  }

  .text-body {
    color: $--body-color !important;
  }

  .text-muted {
    color: $--muted-color !important;
  }

  .text-typo {
    color: $--typo-color !important;
  }
}

.lead {
  font-size: 1.25rem;

  &, p {
    line-height: 1.7;
  }
}

@each $name, $color in $theme-colors {
  .text-#{$name} {
    color: $color;
  }
}

$--display-each: 3.3 2.5 2.1875 1.6275;

@each $display in $--display-each {
  $index: index($--display-each, $display);

  .display-h-#{$index} {
    font-size: #{$display}rem !important;
    line-height: 1.5;
  }
}

// #endregion

//* ——— Font-Weight ——————————————————
//

// #region Font-Weight

.font-weight-semibold {
  font-weight: 600 !important;
}

@for $i from 1 through 8 {
  .font-weight-#{$i * 100} {
    font-weight: $i * 100;
  }
}
// #endregion

//* ——— Card Classes ——————————————————
//

// #region Card Classes

.card-padding {
  padding: 1.5rem !important;
}

.card-shadow {
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
}

.card-heading-padding {
  padding: 1.25rem 1.5rem !important;
}

.card-stats-padding {
  padding: 1rem 1.5rem !important;
}

.bg-gradient-white {
  background: linear-gradient(87deg, #fff, #fcfcfc) !important;
}

.bg-gradient-danger {
  background: linear-gradient(87deg, map-get($theme-colors, danger), #f56036) !important;
}

.bg-gradient-warning {
  background: linear-gradient(87deg, map-get($theme-colors, warning), #fbb140) !important;
}

.bg-gradient-success {
  background: linear-gradient(87deg, map-get($theme-colors, success), #2dcecc) !important;
}

.bg-gradient-info {
  background: linear-gradient(87deg, map-get($theme-colors, info), #1171ef) !important;
}

.bg-gradient-default {
  background: linear-gradient(87deg, map-get($theme-colors, default), #1a174d) !important;
}

.bg-gradient-secondary {
  background: linear-gradient(87deg, map-get($theme-colors, secondary) ,#f7f8fc) !important;
}

.bg-gradient-primary {
  background: linear-gradient(87deg, map-get($theme-colors, primary), #825ee4)!important;
}

// #endregion

// ————————————————————————————————————
//* ——— CUSTOM CLASSES
// ————————————————————————————————————

.no-hover {
  &:hover {
    background: transparent !important;
    outline: none !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.is-required {
  &:after {
    content: "*";
    color: red;
    vertical-align: sub;
    padding-left: 12px;
  }
}

$--positions: relative absolute fixed;

@each $position in $--positions {
  .position-#{$position} {
    position: $position;
  }
}

.vertical-middle {
  vertical-align: middle;
}

.common-table {
  .v-pagination {
    justify-content: flex-end !important;
  }

  .v-pagination__item,
  .v-pagination__navigation {
    box-shadow: none;
    border: 1px solid #dee2e6;
  }
}
