.v-application {
  .no-inherit-background {
    background-color: transparent !important;
  }

  .min-100-pre {
    min-height: 100%;
  }

  .label-color {
    color: #525f7f;
  }

  .box-shadow {
    box-shadow: 1px 1px 5px rgba(150, 150, 150, .3), -1px -1px 5px rgba(150, 150, 150, .3);
  }
}
